<h1>Welcome to {{hotelName}}</h1>
<div [hidden]="hideRooms">
    Number of Rooms Available
    <div  [innerText]="numberOfRooms"></div>
</div>
<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>
{{rooms?.availableRooms ?? 'No rooms'}}
<div *ngIf="rooms?.availableRooms">
    Availabe Rooms : {{rooms?.availableRooms}}
    <hr/>
    Room List 
    <app-rooms-list [rooms]="roomsList" (selectedRoom)="selectRoom($event)"></app-rooms-list>
    </div>
<button (click)="toggle()">Toggle</button>
